{{>header_admin}}

 <style> 
   .dropdown-content{
     display: none;
   }
 </style>
<div class="container ">
    <h4 class="center">Update Product</h4>
    <div class="paper_container z-depth-1">
 <form class="col s12"  method="POST" action="/store/{{products._id}}/edit?_method=PATCH" enctype="multipart/form-data">
  
      <div class="row">
        <div class="input-field col s12 ">
          <input  id="product_name" type="text" required=required class="validate" name="product_name" value="{{products.product_name}}">
          <label for="product_name">Name</label>
        
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12 ">
          <input id="quantity" type="number" required=required class="validate" min="0" max="1000"name="quantity" value="{{products.quantity}}">
          <label for="quantity">Quantity</label>
      
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12 ">
        <input id="cost"type="number" required=required class="validate" min="0" name="unit_price" value="{{products.unit_price}}"/>

          <label for="cost">Price</label>
                  
        </div>
      </div>
      <div class="row">
  <div class="file-field input-field col s12">
       <img src="../uploads/{{products.image}}" alt="" class="responsive-img list-img">
       <br>
      <div class="btn">
        <span>File</span>
        <input type="file" name="image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="{{products.image}}" name="img_old">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select name="list_id">
          <option value="{{{currentList.list.list_name}}}" disabled selected>{{{currentList.list.list_name}}}</option>
          {{#each lists}}
            <option value="{{{this._id}}}" >{{{this.list_name}}} </option>
          {{/each}}
        </select>
        <label>Select *</label>
      </div>
    </div>      
   
    </div>
       <div class="row">
        <div class="input-field col s12 ">
          <input id="note" type="Text" class="validate" name="note" value="{{products.note}}">
          <label for="note">Note</label>

        </div>
      </div>
       <button onclick="" class="btn waves-effect waves-light" type="submit">Update
    <i class="material-icons right">send</i>
      </button>
    </form> 

    </div>
     <br>
  </div>
   {{>footer_admin}}


  