{{>header_admin}}
 
<div class="create-container">


<div class="table-foods container">
      <div class="row">
    <div class="col s12 push-l3">
      <ul class="tabs ">
        <li class="tab col s3"><a href="#addproduct">Add Product</a></li>
        <li class="tab col s3"><a class="active" href="#listproduct">List Product</a></li>
      
      </ul>
    </div>
    <div id="addproduct" class="">
 <form class="col s12"  method="POST" action="/store/product" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s12 ">
          <input  id="product_name" type="text" class="validate" name="product_name">
          <label for="product_name">Name</label>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12 ">
          <input id="quantity" type="number" class="validate" name="quantity">
          <label for="quantity">Quantity</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12 ">
        <input id="cost"type="number" class="validate" name="unit_price"/>
          <label for="cost">Price</label>
        </div>
      </div>
      <div class="row">

             <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
      
   
    </div>
    <div class="row">
      <div class="input-field col s12">
    <select name="list_id">
      <option value="" disabled selected>Choose list option</option>
      {{#each lists}}
      <option value="{{{this._id}}}" >{{{this.list_name}}} </option>
      {{/each}}
    </select>
    <label>Select</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12 ">
          <textarea id="textarea1" class="materialize-textarea" name="note"></textarea>
          <label for="textarea1">Note</label>
        </div>
      </div>
       <button onclick="" class="btn waves-effect waves-light" type="submit">Add
    <i class="material-icons right">send</i>
      </button>
    </form> 

    </div>
    <div id="listproduct" class=""><br>
  <table class="centered responsive-table right highlight" >
        <thead>
          <tr>   
              <th>No</th>    
              <th>Name</th>
              <th>Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Note</th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
   
              {{#each products}}
          <tr>
             <td>{{sum @index }}</td>
            <td>{{{this.product_name}}}</td>
            <td><img src="../uploads/{{{this.image}}}" alt="" class="responsive-img list-img"></td>
            <td>{{{this.unit_price}}}</td>
            <td>{{{this.quantity}}}</td>
            <td>{{{this.note}}}</td>
             <td>{{{ status this.account_status}}}</td>
             <td><a href="/account/{{{this.account_status}}}/{{{this._id}}}" class="btn btn-small  blue lighten-2 ">{{btnStatus this.account_status}}</a></td>
             <td><a href="/admin/{{this._id}}" class="btn btn-small  yellow darken-3 ">Update</a></td>
             <td> <a href="/store/{{this.list_id}}/{{this._id}}" onclick="return confirm('Are You Sure Delete ?')" class="btn btn-small red lighten-1 ">Delete</a></td>
          </tr>
            {{/each}}
          

   
          
        </tbody>
      </table>

    </div>
   
  </div>

</div>
</div>


  