<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
      defer
    ></script>

    <script
      src="https://kit.fontawesome.com/655396e8e6.js"
      defer
      crossorigin="anonymous"
    ></script>

    <title>Medical Equipment Supply</title>
  </head>
  <body>
    {{>header}}
    <main id="main " class="subpage-main article-page">
      <div class="hero-bg">
        <img
          src="./images/8781da074b51be0f9d5d1a65b6caea07a78ba9c8.jpg"
          alt=""
        />
      </div>
      <div class="container">
        <div class="article-details-container">
          <div class="main-articles-container">
            <h2 class="article-title">
              {{article.title}}
            </h2>
            <h3 class="article-subtitle">
              By
              <span class="article-author">{{article.author}}</span>
              <span class="article-date">{{convertDate article.createdAt}}</span>
            </h3>
              <img style="width:400px" src="../uploads/{{{article.image}}}" />
            <div class="article-content">
             {{article.content}}
            </div>
            <div class="related-articles">
              <h3>Related articles</h3>
              <div class="section-grid">
                <div class="row">
                  {{#each articles}}
                  <div class="col s12 m12 l12">
                    <a href="/news/{{this._id}}" class="card">
                      <div class="card-image">
                        <img src="../uploads/{{{this.image}}}" />
                      </div>
                      <div class="card-content">
                        <span class="card-date">{{{convertDate this.createdAt}}}</span>
                        <span class="card-title">{{{this.title}}}</span>
                        <span class="card-brief">{{{formatLongString this.content}}}</span>
                        <div class="card-author">{{{ this.author}}}</div>
                      </div>
                    </a>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{>footer}}
    <script src="./script/main.js"></script>
  </body>
</html>