<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="./css/animate.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/655396e8e6.js" crossorigin="anonymous"></script>

  <title>Bag - Medical</title>
</head>

<body>
{{>header}}
      <div class="container" style="padding-top:80px"> 
        <div class="row">
           {{#each carts.products}} 
      
     <div class="card col s4 m4" style="display:flex;height:24%">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../uploads/{{this.image}}" style="height:100%">
    </div>
    <div class="card-content" style="">
      <a href="/cart/delete/{{this._id}}">remove</a>
      <span class="card-title activator grey-text text-darken-4">{{this.product_name}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">{{this.unit_price}} $</a></p>
      <form action="/cart/updateQty/{{this._id}}" Method="POST">

       <input id="quantity" type="number" required=required class="validate" min="0" max="1000"name="quantity" value="{{this.quantity}}">
          <label for="quantity">Quantity</label>
            <button type="submit" >update</button>
      </form>
        </div>
  
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    {{else}}
    <h5 class="center">Cart Empty</h5>
    {{/each}}
    
        </div>

        <div class="row">
          <h5>Total Price : {{session.cart.totalPrice}}</h5>
          <a class="waves-effect waves-light btn">check out</a>
          </div>
            
      </div>
    
{{>footer}}
  <script src="./script/main.js"></script>
</body>

</html>