{{>header}}
    <div class="container checkout-container" >
        <h2> Checkout</h2>
           <h5 class="title">Review your Information</h5>
    <div class="row">
        <div class="col s12 m12">
                <div class="row">
        <form class="u-info col s12" method="POST" action="/checkout/order">
      <div class="row">
        <div class="input-field col s6">
          <span for="full_name">Full Name</span>
          <input  value="{{account.full_name}}" id="full_name" type="text" class="validate" name="full_name">
        </div>
        <div class="input-field col s6">
          <span for="phone_number">Phone Number</span>
          <input id="phone_number" type="number"  value="{{account.phone_number}}"class="validate" name="phone_number">
        </div>
      </div>
      <div class="row">
     <div class="input-field col s12">
          <span for="delivery_address">Address</span>
          <input id="delivery_address" type="text" class="validate" name="delivery_address" value
          ="{{account.address}}">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <span for="email">Email</span>
          <input id="email" type="email" class="validate" value="{{account.email}}" name="email">
        </div>
      </div>
        <div class="row" hidden>
        <div class="input-field col s12">
          <input  class="validate" value="{{account._id}}" name="account_id">
      
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <span for="note">Note</span>
          <input id="note" type="text" class="validate" value="" name="note">
        </div>
      </div>
      <div style="margin-top: 20px; text-align: right;">
            <button type="submit" onclick="alert('Order Successful ')"  class="btn btn-active">Place order</button>
        </div>
                     </form>
                </div>
        
        </div>
        <div class="col s12 m12">
             <div class=" cart-container" style="width: 100%"> 
          <h5 class="title">Review your order</h5>
     
          <div class="row">
            {{#each carts.products}} 
              <div class="card col s12 m12">
                <div class="card-image">
                  <img class="activator" src="../uploads/{{this.image}}">
                </div>
                <div class="card-content">
                  <span class="card-title">{{this.product_name}}</span>
                  <form class="card-quantity" action="/cart/updateQty/{{this._id}}" Method="POST">
                   <input disabled style="text-align: center;" onchange="this.value > 0 ? this.form.submit() : this.form.get('quantity').value = 1" id="quantity" type="number" required=required class="p-quantity validate" min="1" max="1000" name="quantity" value="{{this.quantity}}">
                      {{!-- <div class="btns-container">
                        <button class="btn btn-active" type="submit" >Update</button>
                      </div> --}}
                  </form>
                        <span id="originalPrice" class="card-price">{{formatCurrency this.unit_price}}</span>
               <span id="discountedAmount" class="card-discount">{{this.promotion_rate}}%</span>
                  {{!-- <a onclick="M.toast({html: 'Item has been removed!'})" href="/cart/delete/{{this._id}}">Remove</a> --}}
                </div>
                
              </div>
              {{else}}
                <div class="center">
                  <h5 class="center" >Your cart is empty</h5>
                  <a href="./product_view.hbs" class="btn btn-active">Explore our products</a>
                </div>
            {{/each}}
            </div>
            <hr style="width: 850px"/>
            <div class="cart-footer row">
              <h5 class="subtotal" style=""><span>Subtotal:  </span><span> {{formatCurrency session.cart.totalPrice}}</span></h5>
              <h5 class="subtotal" style=""><span >Discount: </span><span class="discounted-price"></span></h5>
              <h5 class="total">Total: <p class="total-price"></p> </h5>
              {{!-- checkout or login --}}
             
            </div>
            </div>
        </div>
    </div>
        {{!-- <script src="./script/main.js"></script>   --}}

      {{!-- <script src="./script/calcTotal.js"></script> --}}
      <script>
        const productQuantites = document.querySelectorAll(".p-quantity");
        const productPrices = document.querySelectorAll(".card-price");
        const cartDiscounts = document.querySelectorAll(".card-discount");
        let totalPrice = 0,
          quantity,
          prices,
          price,
          discounts,
          discount,
          discountedPrice = 0;
        for (let i = 0; i < productQuantites.length; i++) {
          quantity = Number(productQuantites[i].value);
          prices = productPrices[i].textContent.match(/\d+/g);
          price = Number(prices[0]) + Number(`0.${prices[1]}`);
          discounts = cartDiscounts[i].textContent.match(/\d+/g);
          discount = Number(discounts[0]);
          totalPrice += quantity * price * (1 - discount / 100);
          //   console.log(quantiy);
          //   console.log(price);
          discountedPrice += quantity * price * (discount / 100);
          console.log(quantity, price, discount);
        }

        console.log(totalPrice);
        document.querySelector(".total-price").innerHTML = `$${totalPrice}`;
        document.querySelector(".discounted-price").innerHTML = `$${discountedPrice}`;
      </script>
    </div>

{{>footer}}